#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/mouse.h>

&lt {
    tapping-term-ms = <200>;
    flavor = "balanced";
    quick-tap-ms = <150>;
};

/ {
    keymap {
        compatible = "zmk,keymap";

        // DIAGNOSTIC BUILD - Right thumb positions will output A-J to identify actual column
        // A=col0, B=col1, C=col2, D=col3, E=col4, F=col5, G=col6, H=col7, I=col8, J=col9
        
        base {
            bindings = <
   &kp Q      &kp W      &kp E       &kp R       &kp T          &kp Y       &kp U       &kp I       &kp O      &kp P
   &kp A      &kp S      &kp D       &kp F       &kp G          &kp H       &kp J       &kp K       &kp L      &kp SEMI
   &kp Z      &kp X      &kp C       &kp V       &kp B          &kp N       &kp M       &kp COMMA   &kp DOT    &kp SLASH
              &kp N1     &kp N2      &kp N3      &kp A  &kp B  &kp C  &kp D  &kp E  &kp F  &kp G  &kp H  &kp I  &kp J
            >;
            
            trackball-bindings = <&tsl>;
        };
    };
};
